
  <div class="basic-container">
    <span *ngFor="let item of data">
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu">
          {{item.name}}
        </button>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary">
          {{item.name}}
        </button>
      </span>
    </span>
  </div>
  

